[submodule "Configuration"]
	path = Configuration
	url = git://github.com/jspahrsummers/xcconfigs.git
[submodule "Libraries/CocoaLumberjack"]
	path = Libraries/CocoaLumberjack
	url = git@github.com:bitswift/CocoaLumberjack.git
